/* Embedded Fonts */






/* Container Items */

#cover {
    width: 100%;
    height: 100%;
    background: url("../images/cover.jpg") no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
}

#container {

}



/* Paragraph Styles */

.title {
    font-family: blah;
    src: url(../fonts/GILB____.ttf);
    font-size: 55px;
    font-weight: 600;
    color: darkblue;
    margin: 860px 0 0 25px;
    position: absolute;
}

.author {
    font-family: blah;
    src: url(../fonts/GILB____.ttf);
    font-size: 35px;
    font-weight: 500;
    color: dodgerblue;
    margin: 920px 0 0 25px;
    position: absolute;
}

@font-face {
    font-family: blah;
    src: url(../fonts/GILB____.ttf);
}

@font-face {
    font-family: bl;
    src: url(../fonts/verdana.ttf);
}

#box {
    height: 60px;
    width: 740px;
    background: white;

}

.text {
    width: 45em;
    font-family: bl;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.5em;
    word-spacing: 0.1em;
    text-align: left;
    text-indent: first;
    position: relative;
    alignment: left;
    padding: 25px 0 25px 25px;
}

html,body {
    height: 100%;
}

.italic {
    font-style: italic;
}